
@{
    ViewBag.Title = "Not Found - StreamTV";
    ViewBag.Css = "dashboard.css";
}

<div class="content">
    <main class="notFound-background">
        <h1>
            Procuramos por esta página em todos os lugares!
        </h1>
        <br /><br />
        <p>Não pudemos achar o enderaço informado, que tal então voltar para página inicial e tentar denovo?</p>
        <br /><br />
        <br />
        <button onclick="window.location.href='/'">Voltar a página inicial</button>
        <button id="button-secondary" onclick="window.location.href='/Home/Docs'">Ver a documentação</button>


        <img src="~/imgsSite/notFoundRobot.png" class="image-robot" />
    </main>
</div>