* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

.mid-menu-responsive{
    display:none;
}

.responsive-menu-dashboard{
    display: none;
}

body{
    background-color: #fafafa;
}

::-webkit-scrollbar-track {
    background-color: #d9d9d9;
}

::-webkit-scrollbar {
    width: 8px;
    background: #F4F4F4;
}

::-webkit-scrollbar-thumb {
    background: #dad7d7;
}

::-webkit-scrollbar-thumb {
    background-color: #001640;
    border-radius: 0px;
    padding: 0;
}

.content{
    width: 100vw;
    height: 100vh;
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;
}

.content-inicio{
    width: 100vw;
    height: 100vh;
    position: relative;
    background-image: url(../imgsSite/siteBackground.jpg);
    background-size: 100% 100%;
}

.nav-site{
    width: 100vw;
    height: 15vh;
}

.logo-navbar{
    width: 30vw;
    height: 100%;
    float: left;
    margin-top: 1%;
}

.itens-navbar {
    width: 50vw;
    height: 100%;
    float: right;
    margin-right: 5%;
    margin-top: 1%;
}

.text-itens-navbar{
    float: right;
    width: 12%;
    height: 100%;
    margin-right: 0%;
}

.text-itens-navbar p{
    margin-top: 50%;
    transform: translateY(-50%);
    position: relative;
    cursor: pointer;
    font-size: 1.3vw;
    color: #fafafa;
}

#text-login {
    background-color: #fafafa;
    color: #03266A;
    padding: 2px;
    padding-left: 22%;
    width: 100%;
    border-radius: 20px;
    transition: 0.5s;
    border: 2px solid #fafafa;
}

#text-login:hover{
    background-color: transparent;
    color: #fafafa;
    transition: 0.5s;
}

.text-start-home{
    width: 100vw;
    height: 31vh;
    margin-top: 0%;
    position: relative;
}

.text-start-home h3{
    margin-left: 50%;
    width: 60%;
    transform: translateX(-50%);
    color: #fafafa;
    text-align: center;
    font-size: 2.5vw;
    animation: opacity 4s;
    margin-top: -2%;
}


.text-start-home button{
    margin-top: 2%;
    width: 22%;
    padding: 5px;
    background-color: #fafafa;
    border: none;
    color: #03266A;
    border-radius: 20px;
    font-size: 1.3vw;
    outline: 0 !important;
    border: 2px solid #fAFAFA;
    transition: 0.5s;
    animation: marginLeft 2.5s;
    opacity: 0.9;
}

.text-start-home button:hover{
    background-color: transparent;
    color: #fafafa;
    transition: 0.5s;
}

.image-start-page {
    width: 100vw;
    height: 50vh;
    animation: marginBottom 2.5s;
 }

.image-start-page img{
    width: 50%;
    margin-top: 4%;
}

.mid-page{
    width: 100vw;
    height: 200vh;
    position: relative;
    background-color: red;
}

@keyframes opacity{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes marginBottom{
    from{
        margin-top: 20%;
        opacity: 0;
    }
    to{
        margin-top: 0%;
        opacity: 1;
    }
}

@keyframes marginLeft {
    from {
        margin-left: 20%;
        opacity: 0;
    }

    to {
        margin-left: 0;
        opacity: 0.9;
    }
}

.mid-page-1{
    width: 100vw;
    height: 100vh;
    background-color: white;
    position: relative;
}

.title-mid-page-1{
    width: 100vw;
    height: 25vh;
    margin-top: 10%;
}

.title-mid-page-1 h2{
    font-size: 5.5vh;
    color: #03266A;
    width: 50vw;
    margin-top: 15%;
}

.title-mid-page-1 h3{
    font-size: 3.5vh;
    margin-top: 5%;
}

.block-left-right-mid {
    width: 25vw;
    height: 120vh;
    background-color: #03266A;
    float: left;
    position: relative;
    margin-top: 8%;
    margin-left: 0%;
}

.left-block {
    transform: rotate(-55deg);
}

.right-block {
    transform: rotate(55deg);
}

.content-mid-page {
    width: 50vw;
    height: 40vh;
    float: left;
    position: relative;
}

.content-mid-page button{
    border: 2px solid #03266A;
    outline: 0 !important;
    margin-top: 20%;
    padding: 15px;
    width: 35%;
    color: #fafafa;
    background-color: #03266A;
    border-radius: 30px;
    font-size: 2vh;
    transition: 0.5s;
}

.content-mid-page button:hover{
    background-color: white;
    color: #03266A;
    transition: 0.5s;
}

.mid-page-2 {
    width: 100vw;
    height: 100vh;
    background-color: #03266A;
    position: absolute;
}

.mid-page-2 h1{
    color: #fafafa;
    padding: 0;
    position: relative;
    width: 100%;
    font-size: 5vh;
    text-align: center;
    margin-top: 10%;
    padding-bottom: 2%;
}

.line-center{
    width: 20%;
    margin-left: 50%;
    transform: translateX(-50%);
    height: 1px;
    background-color: white;
    position: relative;
}

.row{
    margin-top: 10% !important;
}

.col{
    height: 50vh;
}

.col img{
    width: 32% !important;
    margin-left: 50%;
    transform: translateX(-50%);
}

.col p{
    color: #fafafa;
    font-size: 2vh;
    width: 70%;
}

#text-icon{
    margin-top: 8%;
    font-size: 3vh !important;
}