@{
    ViewBag.Title = "Dashboard - StreamTV";
    ViewBag.Css = "dashboard.css";
}

<div class="content">
    <nav class="left-nav">
        <div class="menu-itens">
            <div class="item-menu">
                <img src="~/imgsSite/userIcon.png" />
                <center>
                    <p id="TextUser">SENAI</p>
                </center>
            </div>
            <div class="item-menu opacity-off">

            </div>
            <div class="item-menu opacity-off">

            </div>
            <div class="item-menu opacity-off">

            </div>
            <div class="item-menu selected-menu">
                <img src="~/imgsSite/userTelevision.png" />
                <center>
                    <p id="TextUser">Início</p>
                </center>
            </div>
            <div class="item-menu">
                <img src="~/imgsSite/userDocs.png" />
                <center>
                    <p id="TextUser">Docs</p>
                </center>
            </div>
            <div class="item-menu opacity-off">

            </div>
            <div class="item-menu opacity-off">

            </div>
            <div class="item-menu opacity-off">

            </div>

            <div class="item-menu">
                <img src="~/imgsSite/userLogout.png" />
                <center>
                    <p id="TextUser">Sair</p>
                </center>
            </div>
        </div>
    </nav>

    <main class="content-page">
        <div class="content-televisions">
            <div class="colunm-television"></div>
            <div class="colunm-television"></div>
            <div class="colunm-television"></div>
            <div class="colunm-television"></div>
            <div class="colunm-television"></div>
        </div>

        <div class="manage-televison">
            <center>
                <h3>Você tem 4 televisões conectadas de um total de 5</h3>
            </center>
            <button>Adicionar televisão</button>
        </div>
    </main>

</div>