@model List<StreamTV.Models.Televisoes>

@{
    ViewBag.Title = "Dashboard - StreamTV";
    ViewBag.Css = "dashboard.css";
}

<div class="content">
    <nav class="left-nav">
        <div class="menu-itens">
            <div class="item-menu" onclick="window.location.href = '/Home/Profile'; ShowLoad();">
                <img src="/imgsSite/userIcon.png" />
                <center>
                    <p id="TextUser">SENAI</p>
                </center>
            </div>
            <div class="item-menu opacity-off">

            </div>
            <div class="item-menu opacity-off">

            </div>
            <div class="item-menu opacity-off">

            </div>
            <div class="item-menu selected-menu" onclick="window.location.href = '/Home/Dashboard'; ShowLoad();">
                <img src="/imgsSite/userTelevision.png" />
                <center>
                    <p id="TextUser">Início</p>
                </center>
            </div>
            <div class="item-menu" onclick="window.location.href = '/Home/Docs'; ShowLoad();">
                <img src="/imgsSite/userDocs.png" />
                <center>
                    <p id="TextUser">Docs</p>
                </center>
            </div>
            <div class="item-menu opacity-off">

            </div>
            <div class="item-menu opacity-off">

            </div>
            <div class="item-menu opacity-off">

            </div>

            <div class="item-menu" onclick="window.location.href = '/Home/Logout'; ShowLoad();">
                <img src="/imgsSite/userLogout.png" />
                <center>
                    <p id="TextUser">Sair</p>
                </center>
            </div>
        </div>
    </nav>

    <main class="content-page">
        <div class="content-televisions">
            @if (ViewBag.Erro != null)
            {
                <center>
                    <h2>@ViewBag.Erro</h2>
                </center>
            }
            else
            {
                foreach (var tv in Model)
                {
                    <div class="colunm-television" onclick="window.location.href = '/Home/EditTelevision/@tv.Id'; ShowLoad();">
                        <div class="item-colunm-television">
                            <div class="background-black-television">
                                <center>
                                    <p id="TextEditTelevision">Editar<br>▾</p>
                                </center>
                            </div>
                        </div>
                        <p id="TitleTelevision">@tv.Nome</p>
                    </div>
                }
            }
        </div>

        <div class="manage-televison">
            <center>
                <h3>Você tem @Model.Count televisões conectadas e em funcionamento.</h3>
            </center>
            <button onclick="window.location.href='/Home/AddTelevision'">Adicionar televisão</button>
        </div>
    </main>

</div>