
@{
    ViewBag.Title = "Profile - StreamTV";
    ViewBag.Css = "dashboard.css";
}

    <div class="content">
        <nav class="left-nav">
            <div class="menu-itens">
                <div class="item-menu selected-menu" onclick="window.location.href ='/Home/Profile'">
                    <img src="/imgsSite/userIcon.png" />
                    <center>
                        <p id="TextUser">SENAI</p>
                    </center>
                </div>
                <div class="item-menu opacity-off">

                </div>
                <div class="item-menu opacity-off">

                </div>
                <div class="item-menu opacity-off">

                </div>
                <div class="item-menu" onclick="window.location.href ='/Home/Index'">
                    <img src="/imgsSite/userTelevision.png" />
                    <center>
                        <p id="TextUser">Início</p>
                    </center>
                </div>
                <div class="item-menu" onclick="window.location.href ='/Home/Docs'">
                    <img src="/imgsSite/userDocs.png" />
                    <center>
                        <p id="TextUser">Docs</p>
                    </center>
                </div>
                <div class="item-menu opacity-off">

                </div>
                <div class="item-menu opacity-off">

                </div>
                <div class="item-menu opacity-off">

                </div>

                <div class="item-menu" onclick="window.location.href ='/Home/Logout'">
                    <img src="/imgsSite/userLogout.png" />
                    <center>
                        <p id="TextUser">Sair</p>
                    </center>
                </div>
            </div>
        </nav>
        
        <main class="content-page">
            <div class="profile-page">
                <div class="profile-box-picture">
                    <img src="/imgsSite/userIcon.png" />
                </div>

                <h2 id="NameUser">SENAI "Ary Torres" 1.12</h2>
                <br />

                <table>
                    <tr>
                        <th>Dispositivos: </th>
                        <td>4</td>
                    </tr>
                    <tr>
                        <th>Responsável: </th>
                        <td>Fulano</td>
                    </tr>
                    <tr>
                        <th>Email: </th>
                        <td>senai@112.com.br</td>
                    </tr>
                    <tr>
                        <th>Telefone: </th>
                        <td>(11) 99999-9999</td>
                    </tr>
                    <tr>
                        <th>Cadastro em:</th>
                        <td>00/00/0000</td>
                    </tr>
                </table>

                <button id="button-update" onclick="window.location.href='/Home/UpdateAccount'">
                    Alterar dados
                </button>
            </div>

            <div class="profile-page-television">
                <div class="profile-television-item" onclick="window.location.href='/Home/EditTelevision/0'">
                    <div class="profile-television-icon">
                        <div class="background-black-television">
                            <center>
                                <p id="TextEditTelevision">Editar<br>▾</p>
                            </center>
                        </div>
                    </div>

                    <h2>Televisão 1</h2>
                </div>

                <div class="profile-television-item">
                    <div class="profile-television-icon" onclick="window.location.href='/Home/EditTelevision/1'">
                        <div class="background-black-television">
                            <center>
                                <p id="TextEditTelevision">Editar<br>▾</p>
                            </center>
                        </div>
                    </div>

                    <h2>Televisão 2</h2>
                </div>

                <div class="profile-television-item">
                    <div class="profile-television-icon" onclick="window.location.href='/Home/EditTelevision/2'">
                        <div class="background-black-television">
                            <center>
                                <p id="TextEditTelevision">Editar<br>▾</p>
                            </center>
                        </div>
                    </div>

                    <h2>Televisão 3</h2>
                </div>

                <div class="profile-television-item">
                    <div class="profile-television-icon" onclick="window.location.href='/Home/EditTelevision/3'">
                        <div class="background-black-television">
                            <center>
                                <p id="TextEditTelevision">Editar<br>▾</p>
                            </center>
                        </div>
                    </div>

                    <h2>Televisão 4</h2>
                </div>

                <div class="profile-television-item">
                    <div class="profile-television-icon" onclick="window.location.href='/Home/EditTelevision/4'">
                        <div class="background-black-television">
                            <center>
                                <p id="TextEditTelevision">Editar<br>▾</p>
                            </center>
                        </div>
                    </div>

                    <h2>Televisão 5</h2>
                </div>

                <div class="profile-television-item">
                    <div class="profile-television-icon" onclick="window.location.href='/Home/EditTelevision/5'">
                        <div class="background-black-television">
                            <center>
                                <p id="TextEditTelevision">Editar<br>▾</p>
                            </center>
                        </div>
                    </div>

                    <h2>Televisão 6</h2>
                </div>
            </div>
        </main>
</div>