
@{
    ViewBag.Title = "Update Account - StreamTV";
    ViewBag.Css = "dashboard.css";
}

<div class="content">
    <nav class="left-nav">
        <div class="menu-itens">
            <div class="item-menu selected-menu" onclick="window.location.href ='/Home/Profile'">
                <img src="/imgsSite/userIcon.png" />
                <center>
                    <p id="TextUser">SENAI</p>
                </center>
            </div>
            <div class="item-menu opacity-off">

            </div>
            <div class="item-menu opacity-off">

            </div>
            <div class="item-menu opacity-off">

            </div>
            <div class="item-menu" onclick="window.location.href ='/Home/Index'">
                <img src="/imgsSite/userTelevision.png" />
                <center>
                    <p id="TextUser">Início</p>
                </center>
            </div>
            <div class="item-menu" onclick="window.location.href ='/Home/Docs'">
                <img src="/imgsSite/userDocs.png" />
                <center>
                    <p id="TextUser">Docs</p>
                </center>
            </div>
            <div class="item-menu opacity-off">

            </div>
            <div class="item-menu opacity-off">

            </div>
            <div class="item-menu opacity-off">

            </div>

            <div class="item-menu" onclick="window.location.href ='/Home/Logout'">
                <img src="/imgsSite/userLogout.png" />
                <center>
                    <p id="TextUser">Sair</p>
                </center>
            </div>
        </div>
    </nav>

    <main class="content-page">
        <div class="update-content">
            <h2 id="TitleUpdateAccount">Confira se seus dados estão corretos e altere-os</h2>

            <form class="form-update">
                <input placeholder="Digite o nome da instituição" value="SENAI Ary Torres 1.12"/>
                <input placeholder="Digite o nome do responsável" value="Fulano"/>
                <input readonly placeholder="Dispositivos cadastrados" value="Dispositivos cadastrados: 5"/>
                <input readonly placeholder="Data de cadastro" value="Cadastrado em: 00/00/0000"/>
                <input placeholder="Digite seu telefone" value="(11) 99999-9999"/>
                <input placeholder="Digite seu email" value="senai@112.com.br"/>

                <button type="submit" id="button-UpdateData">Alterar Dados</button>
            </form>
        </div>
    </main>
</div>