
@{
    ViewBag.Title = "Esqueceu Senha - StreamTV";
    ViewBag.Css = "site.css";
}

@if (ViewBag.Erro != null)
{
    <script>
        setTimeout(abrirModalError, 500);
    </script>

    <div class="erro-message">
        <center>
            <p id="text-error">@ViewBag.Erro</p>
        </center>
        <script>
            //setTimeout(fecharModalError, 8000);
        </script>
    </div>
}

<div class="content">
    <div class="mobile-menu" onclick="AbrirMenuSite()"></div>
    <div class="content-inicio">
        <nav class="nav-site">
            <div class="logo-navbar">

            </div>

            <div class="itens-navbar">
                <div class="text-itens-navbar">
                    <p id="text-login" onclick="window.location.href='/Login'">Login</p>
                </div>

                <div class="text-itens-navbar">
                    <p onclick="window.location.href='/Contact'">Contato</p>
                </div>

                <div class="text-itens-navbar" onclick="window.location.href='/Home/Docs'">
                    <p>Docs</p>
                </div>

                <div class="text-itens-navbar">
                    <p onclick="window.location.href='/'">Início</p>
                </div>
            </div>
        </nav>

        <div class="forgotPassword">
            <h2>Esqueceu sua senha? \n \nDigite o e-mail de cadastro e enviaremos pra você.</h2>
            <form method="post" class="form-forgot">
                <input type="text" name="email" placeholder="* Digite seu email" />
                <br />
                <center>
                    <p id="backLogin" onclick="window.location.href='/Login'">Voltar</p>
                </center>
                <br />
                <button type="submit" onclick="ShowLoad()">Enviar</button>
            </form>
        </div>
    </div>
</div>

