
@{
    ViewBag.Title = "Esqueceu Senha - StreamTV";
    ViewBag.Css = "site.css";
}

<div class="content">
    <div class="content-inicio">
        <nav class="nav-site">
            <div class="logo-navbar">

            </div>

            <div class="itens-navbar">
                <div class="text-itens-navbar">
                    <p id="text-login" onclick="window.location.href='/Login'">Login</p>
                </div>

                <div class="text-itens-navbar">
                    <p onclick="window.location.href='/Contact'">Contato</p>
                </div>

                <div class="text-itens-navbar" onclick="window.location.href='/Home/Docs'">
                    <p>Docs</p>
                </div>

                <div class="text-itens-navbar">
                    <p onclick="window.location.href='/'">Início</p>
                </div>
            </div>
        </nav>

        <div class="forgotPassword">
            <h2>Esqueceu sua senha?<br><br>Digite o e-mail de cadastro e enviaremos pra você.</h2>
            <form method="post" class="form-forgot">
                <input type="text" placeholder="* Digite seu email" />
                <br />
                <center>
                    <p id="backLogin" onclick="window.location.href='/Login'">Voltar</p>
                </center>
                <br />
                <button type="button">Enviar</button>
            </form>
        </div>
    </div>
</div>

