
@{
    ViewBag.Title = "StreamTV";
    ViewBag.Css = "site.css";
}

<div class="content">
    <div class="content-inicio">
        <nav class="nav-site">
            <div class="logo-navbar">

            </div>

            <div class="itens-navbar">
                <div class="text-itens-navbar">
                    <p id="text-login" onclick="window.location.href='/Site/Login'">Login</p>
                </div>

                <div class="text-itens-navbar">
                    <p onclick="window.location.href='/Site/Contact'">Contato</p>
                </div>
                
                <div class="text-itens-navbar" onclick="window.location.href='/Home/Docs'">
                    <p>Docs</p>
                </div>
                
                <div class="text-itens-navbar">
                    <p onclick="window.location.href='/Site/Index'">Início</p>
                </div>
            </div>
        </nav>

        <div class="text-start-home">
            <h3>Reproduza em tempo real e simultaneamente para todos os seus dispositivos</h3>
            <br />
            <center>
                <button onclick="window.location.href='/Home/Contact'">Solicitar avaliação</button>
            </center>
        </div>

        <div class="image-start-page">
            <center>
                <img src="~/imgsSite/siteStartComputer.png" />
            </center>
        </div>
    </div>

    <main class="mid-page">
        <div class="mid-page-1">
            <div class="title-mid-page-1">

            </div>
        </div>
    </main>
</div>
