
@{
    ViewBag.Title = "StreamTV";
    ViewBag.Css = "site.css";
}

<div class="content">
    <div class="content-inicio">
        <nav class="nav-hide-site">
            <div class="logo-navbar">

            </div>

            <div class="itens-navbar">
                <div class="text-itens-navbar">
                    <p id="text-login" onclick="window.location.href='/Login'">Login</p>
                </div>

                <div class="text-itens-navbar">
                    <p onclick="window.location.href='/Contact'">Contato</p>
                </div>

                <div class="text-itens-navbar" onclick="window.location.href='/Home/Docs'">
                    <p>Docs</p>
                </div>

                <div class="text-itens-navbar">
                    <p onclick="window.location.href='/'">Início</p>
                </div>
            </div>
        </nav>


        <nav class="nav-site">
            <div class="logo-navbar">

            </div>

            <div class="itens-navbar">
                <div class="text-itens-navbar">
                    <p id="text-login" onclick="window.location.href='/Login'">Login</p>
                </div>

                <div class="text-itens-navbar">
                    <p onclick="window.location.href='/Contact'">Contato</p>
                </div>
                
                <div class="text-itens-navbar" onclick="window.location.href='/Home/Docs'">
                    <p>Docs</p>
                </div>
                
                <div class="text-itens-navbar">
                    <p onclick="window.location.href='/'">Início</p>
                </div>
            </div>
        </nav>

        <div class="text-start-home">
            <h3>Reproduza em tempo real e simultaneamente para todos os seus dispositivos</h3>
            <br />
            <center>
                <button onclick="window.location.href='/Contact'">Solicitar avaliação</button>
            </center>
        </div>

        <div class="image-start-page">
            <center>
                <img src="~/imgsSite/siteStartComputer.png" />
            </center>
        </div>
    </div>

    <main class="mid-page">
        <div class="mid-page-1">
            <div class="title-mid-page-1">
                <center>
                    <h2>Solicite uma avaliação e comece a utilizar hoje mesmo</h2>
                    <br /><br />
                    <h3>Junte - se a nós e economize seu tempo</h3>
                    <div class="block-left-right-mid left-block"></div>
                    <div class="content-mid-page">
                        <center>
                            <button onclick="window.location.href='/Contact'">Entrar em contato</button>
                        </center>
                    </div>
                    <div class="block-left-right-mid right-block"></div>
                </center>
            </div>
        </div>

        <div class="mid-page-2">
            <h1>Veja as vantagens de utilizar o StreamTV</h1>
            <div class="line-center"></div>

            <div class="row">
                <div class="col">
                    <img src="~/imgsSite/iconSecurity.png" />
                    <br />

                    <center>
                        <p id="text-icon">Segurança</p>
                        <br />
                        <p>Todos os nossos dados são criptografados e os seus vídeos estarão seguros e protegidos no nosso servidor.</p>
                    </center>
                </div>

                <div class="col">
                    <img src="~/imgsSite/iconSimplicity.png" />
                    
                    <center>
                        <p id="text-icon">Simplicidade</p>
                        <br />
                        <p>Uma interface simples e muito fácil de se utilizar, com poucos minutos, você consegue aprender nossa ferramenta.</p>
                    </center>
                </div>

                <div class="col">
                    <img src="~/imgsSite/iconSpeed.png" />

                    <center>
                        <p id="text-icon">Rapidez</p>
                        <br />
                        <p>Com nosso serviço você muda o que quer exibir nos seus dispositivos INSTANTANEAMENTE.</p>
                    </center>
                </div>

                <div class="w-100"></div>
            </div>
        </div>

        <div class="last-mid-page">
            <center>
                <h1>Sua conta já foi liberada?<br>Acesse agora e comece a usar!</h1>
                <br />
                <button onclick="window.location.href='/Login'">Login</button>
            </center>
        </div>
    </main>
    
    <footer class="footer-content">
        <div class="logo-footer">
            <center>
                <h3>StreamTV</h3>
            </center>
        </div>

        <div class="copyright">
            Todos os direitos reservados Ⓒ
        </div>
    </footer>
</div>
