
@{
    ViewBag.Title = "Login - StreamTV";
    ViewBag.Css = "site.css";
}

@if (ViewBag.Erro != null)
{
    <script>
        setTimeout(abrirModalError, 500);
    </script>

    <div class="erro-message">
        <center>
            <p id="text-error">@ViewBag.Erro</p>
        </center>
        <script>
            setTimeout(fecharModalError, 8000);
        </script>
    </div>
}

<div class="content">
    <div class="content-inicio">
        <nav class="nav-site">
            <div class="logo-navbar">

            </div>

            <div class="itens-navbar">
                <div class="text-itens-navbar">
                    <p id="text-login" onclick="window.location.href='/Login'">Login</p>
                </div>

                <div class="text-itens-navbar">
                    <p onclick="window.location.href='/Contact'">Contato</p>
                </div>

                <div class="text-itens-navbar" onclick="window.location.href='/Home/Docs'">
                    <p>Docs</p>
                </div>

                <div class="text-itens-navbar">
                    <p onclick="window.location.href='/'">Início</p>
                </div>
            </div>
        </nav>

        <div class="login">
            <h2>Preencha com suas credenciais</h2>
            <form method="post" class="form-login">
                <input type="text" name="email" required placeholder="* Digite seu email" />
                <br />
                <input type="password" name="senha" required placeholder="* Digite sua senha" />
                <br />
                <p id="forgot" onclick="window.location.href='/ForgotPassword'">Esqueceu sua senha?</p>
                <br />
                <button type="submit" onclick="ShowLoad()">Logar</button>
            </form>
        </div>
    </div>
</div>

