
@{
    ViewBag.Title = "Login - StreamTV";
    ViewBag.Css = "site.css";
}

<div class="content">
    <div class="content-inicio">
        <nav class="nav-site">
            <div class="logo-navbar">

            </div>

            <div class="itens-navbar">
                <div class="text-itens-navbar">
                    <p id="text-login" onclick="window.location.href='/Login'">Login</p>
                </div>

                <div class="text-itens-navbar">
                    <p onclick="window.location.href='/Contact'">Contato</p>
                </div>

                <div class="text-itens-navbar" onclick="window.location.href='/Home/Docs'">
                    <p>Docs</p>
                </div>

                <div class="text-itens-navbar">
                    <p onclick="window.location.href='/'">Início</p>
                </div>
            </div>
        </nav>

        <div class="login">
            <h2>Preencha com suas credenciais</h2>
            <form method="post" class="form-login">
                <input type="text" placeholder="* Digite seu email" />
                <br />
                <input type="password" placeholder="* Digite sua senha" />
                <br />
                <p id="forgot" onclick="window.location.href='/ForgotPassword'">Esqueceu sua senha?</p>
                <br />
                <button type="button" onclick="window.location.href='/Home/Index'">Logar</button>
            </form>
        </div>
    </div>
</div>

