<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="/css/@ViewBag.Css" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script type="text/javascript" src="~/js/dashboard.js"></script>
        <script type="text/javascript" src="~/js/site.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>
    <body>
        <div class="loading-page">
            <center>
                <div class="loading-item">

                </div>
                <br />

                <p id="textLoading">Carregando...</p>
            </center>
        </div>
        <div class="site-menu-responsive">
            <ul>
                <li onclick="window.location.href = '/';ShowLoad();">Início</li>
                <li onclick="window.location.href = '/Home/Docs';ShowLoad();">Docs</li>
                <li onclick="window.location.href = '/Contact';ShowLoad();">Contato</li>

                @if (User.Identity.IsAuthenticated)
                {
                    <li onclick="window.location.href = '/Home/Index'; ShowLoad();">Entrar</li>
                }
                else
                {
                    <li onclick="window.location.href = '/Login'; ShowLoad();">Login</li>
                }
            </ul>
        </div>
        <div class="background-menu-responsive" onclick="FecharMenuSite()"></div>


        <div class="mid-menu-responsive">
            <ul>
                <li onclick="window.location.href = '/Home/Profile';ShowLoad();">Perfil</li>
                <li onclick="window.location.href = '/Home/Index';ShowLoad();">Dashboard</li>
                <li onclick="window.location.href = '/Home/Docs';ShowLoad();">Documentação</li>
                <li onclick="window.location.href = '/Home/Logout';ShowLoad();">Sair</li>
            </ul>
        </div>
        <div class="background-menu-responsive" onclick="FecharMenu()">

        </div>
        <nav class="responsive-menu-dashboard">
            <div class="item-responsive-menu" onclick="AbrirMenu()">
                <center>
                    <img src="~/imgsSite/responsiveMenu.png" />
                </center>
            </div>
        </nav>
        @RenderBody()
        <script>
            $('.content').scroll(function () {
                var posicao = $('.content').scrollTop();
                var posicaoArredondada = Math.round(posicao / 100);
                var marginMenu = '0%';


                if (posicaoArredondada >= 5) {
                    marginMenu = '0%'
                }
                else {
                    marginMenu = '-15vh';
                }

                $('.nav-hide-site').css('margin-top', marginMenu);
            });

        </script>
    </body>
</html>